* {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
}

.container {
	display: grid;
	grid-template-columns: .75fr 3fr;
	grid-template-rows: 1fr 4fr;
	background: lightseagreen;
	height: 100vh;
}

.sidebar .logo {
	font-size: 30px;
	text-align: center;
	font-weight: 500;
	color: white;
}

.sidebar img {
	height: 50px;
}

.sidebar {
	background: lightblue;
/*	max-width: 200px;*/
/*	display: grid;*/
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	height: 100vh;
}

.menu {
	font-size: 26px;
	color: white;
	text-align: center;
}

.header {
	background: white;
	display: grid;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	align-items: center;
/*	height: 20%;*/
/*	max-height: 20vh;*/
	padding: 20px 60px;
}

.search {
	font-size: 30px;
	border-radius: 18px;
	background-color: lightgray;
}

.header_top ul, .header_bottom ul {
	display: flex;
	justify-content: space-between;
}

.nav {
	background: lightgoldenrodyellow;
	grid-column: 2 / 3;
}

.main {
	background: lightsalmon;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: .3fr 3fr;
	grid-column: 2 / 3;
	padding-top: 30px;
}

.article {
  background-color: #bccbde;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
  padding: 50px;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
  border-radius: 12px;
  border-left: .5rem solid orange;
}

.r_col {
	background: lightslategray;
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}

.announcements, 
.trending {
	background-color: white;
	padding: 30px;
	margin: 20px;
	border-radius: 12px;
}

.r_col ul {
	display: grid;
	gap: 40px;
}

ul {
  list-style-type: none;
}


}