* {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
}

.container {
	display: grid;
	grid-template-columns: .75fr 3fr;
/*	grid-template-rows: 1fr 1fr;*/
	background: lightseagreen;
	height: 100vh;
}

.sidebar .logo {
	font-size: 30px;
	text-align: center;
	font-weight: 500;
	color: white;
}

.sidebar img {
	height: 50px;
}

.sidebar {
	background: lightblue;
/*	max-width: 200px;*/
/*	display: grid;*/
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	height: 100vh;
}

.menu {
	font-size: 26px;
	color: white;
	text-align: center;
}

.header {
	background: white;
	display: grid;
	grid-column: 2 / 3;
	align-items: center;
	max-height: 20vh;
	padding: 20px 60px;
}

.search {
	font-size: 30px;
	border-radius: 18px;
	background-color: lightgray;
}

.header_top ul, .header_bottom ul {
	display: flex;
	justify-content: space-between;
}

.nav {
	background: lightgoldenrodyellow;
	grid-column: 2 / 3;
}

.main {
	background: lightsalmon;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column: 2 / 3;
}

/*.article {
	background: lightseagreen;
	grid-column: 1 / 2;
}*/

.article {
  background-color: #bccbde;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.right_col {
	background: lightslategray;
	grid-column: 2 / 3;
}